# Windows system files
Thumbs.db
Desktop.ini

# Игнорировать все .txt файлы, кроме CMakeLists.txt
*.txt
!CMakeLists.txt
!CloneCMake2.txt

# Игнорировать все .jpg файлы
*.jpg

# Игнорировать все .cpp файлы, кроме LaboratoryOne.cpp
*.cpp
!LaboratoryTwo.cpp
!LaboratoryOne.cpp
